@using MVC.Domain.Models;

@model Product ;

@{
    ViewData["Module"] = "Products";
    ViewData["Title"] = "Edit Product ";
}

<div class="card">
    <div class="card-header py-2 header-store">
        <div class="row my-form  align-items-center">
            <div class="col-xl-6">
                <h1 class="title-page f15 font-weight-bold d-inline-lg-block  mb-1 mb-xl-0">
                    Edit Product
                </h1>
            </div>
        </div>
    </div>
    <br />
    <div class="card-body">
        <div>
            <form id="frmCreate" asp-action="Edit">
                <input type="hidden" asp-for="Id" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="form-group col-6">
                        <label asp-for="Name" class="control-label">Name</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="Description" class="control-label">Description</label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="Price" class="control-label">Price</label>
                        <input asp-for="Price" class="form-control" type="number" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="StockQuantity" class="control-label">Stock Quantity</label>
                        <input asp-for="StockQuantity" class="form-control" type="number" />
                        <span asp-validation-for="StockQuantity" class="text-danger"></span>
                    </div>
                    <div class="form-group col-6">
                        <label asp-for="ExpirationDate" class="control-label">Expiration Date</label>
                        <input asp-for="ExpirationDate" class="form-control" type="date" />
                        <span asp-validation-for="ExpirationDate" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group text-center">
                    <input id="btnSubmit" type="submit" value="Edit" class="btn btn-success px-3 m-3" />
                </div>


            </form>
        </div>
    </div>
</div>
<br />

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
